{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block tab-name %} - {{ ksa_instance.ksa_name }}{% endblock %}

{% block content %}
<center><h1>{{ ksa_instance.ksa_name }}</p></h1></center>

{% if ksa_instance.president_photo %}
	<center><div class="avatar white-frame" style="background: url({{ MEDIA_URL }}{{ ksa_instance.president_photo }}); background-size: cover; background-position: center;"></div></center>
{% endif %}

{% if ksa_instance.president_name %}
	<center>{{ ksa_instance.president_name }}</center>
	<center>президент</center>
{% endif %}

{% if ksa_instance.president_contact %}
	<center>{{ ksa_instance.president_contact }}</center>
{% endif %}

{% if ksa_instance.key_people %}
	<center><h2>Другие контактные лица</h2></center>
	<center>{{ ksa_instance.key_people|linebreaks }}</p></center>
{% endif %}

{% if ksa_instance.housing_info %}
	<center><h2>Контакты для поиска жилья</h2></center>
	<center>{{ ksa_instance.housing_info|linebreaks }}</p></center>
{% endif %}

{% if ksa_instance.facebook_group %}
	<center><h2><a href="{{ ksa_instance.facebook_group }}" target="_blank">Группа в Facebook</a></h2></center>
{% endif %}

{% if ksa_instance.note %}
	<center>{{ ksa_instance.note|linebreaks }}</center>
{% endif %}

{% if albums %}
    <center><h2>Альбомы</h2></center>
{% endif %}

    <div class='album-list'>
        {% for album in albums %}
            {% if album.get_head  or album.user == request.user %}
            <div class='album'>
                <div class='album-head'>
                    <a href="{{ album.get_absolute_url }}">
                    {% if album.get_head %}
                        {% thumbnail album.get_head.image "150x150" crop='center' as album_head %}
                            <img class="preview white-frame" {% if album.name %} alt="{{ album.name }}" {% endif %} src="{{ album_head.url }}">
                        {% endthumbnail %}
                    {% else %}
                        [{% trans "Empty album" %}]
                    {% endif %}
                    <br>
                    <span class="album-name">{{ album.name }}</span>
                    {% if not view_user and IMAGESTORE_SHOW_USER %}
                        <br>
                        <span class="album-user">
                            {% trans "user" %}: {{ album.user }}
                        </span>
                    {% endif %}
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}